@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "ProximaNova, sans-serif";
  src: url("../src/assets/fonts/ProximaNova-Regular.otf");
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-main-bg);
  color: var(--color-white);
  font-family: "Antonio", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

@theme {
  /* Core Backgrounds */
  --color-main-bg: #0f0f0f; /* Deep charcoal black */
  --color-secondary-bg: #171717; /* Cards / sections */
  --color-surface: #1f1f1f; /* Elevated surfaces */

  /* Text Colors */
  --color-white: #f5f5f5; /* Primary text */
  --color-muted: #b8b8b8; /* Secondary text */

  /* Brand / Accent Colors */
  --color-primary: #cfa45d; /* Premium gold */
  --color-accent: #e63946; /* Rich food red */
  --color-warm: #d08c60; /* Warm caramel */

  /* Browns / Food Tones */
  --color-dark-brown: #2a1a12;
  --color-mid-brown: #6f4e37;
  --color-light-brown: #c89b6d;

  /* Utility */
  --color-border: #2a2a2a;
  --color-shadow: rgba(0, 0, 0, 0.6);

  /* Fonts */
  --font-sans: "Antonio", sans-serif;
  --font-paragraph: "ProximaNova, sans-serif";
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .col-center {
    @apply flex flex-col justify-center items-center;
  }
  .abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .general-title {
    @apply 2xl:text-[8.5rem] md:text-8xl text-5xl font-bold uppercase leading-[9vw] tracking-[-.35vw];
  }
}

@layer components {
  .hero-container {
    @apply relative bg-white w-screen h-dvh overflow-hidden;

    .hero-content {
      @apply relative z-10 w-full h-full flex flex-col 2xl:justify-center items-center translate-y-10 2xl:pt-0 md:pt-32 pt-24;

      .hero-title {
        @apply text-white 2xl:text-[8.5rem] md:text-[6.5rem] text-[3.3rem] font-bold uppercase leading-[9vw] tracking-[-.35vw] 2xl:mb-0 mb-5 border border-b-8 p-2 rounded-t-2xl rounded-bl-2xl;
      }

      .hero-text-scroll {
        @apply rotate-[-5deg] mb-8;

        .hero-subtitle {
          @apply bg-main-bg;
        }

        h1 {
          @apply uppercase 2xl:text-[8.5rem] md:text-[6.5rem] text-[3.3rem] font-bold text-white/70 leading-[9vw] tracking-[-.35vw] 2xl:px-[1.2vw] px-3 2xl:pb-[1vw] pb-5 2xl:py-0 py-3;
        }
      }

      h2 {
        @apply font-paragraph text-white text-center md:max-w-lg max-w-sm px-5 md:text-lg leading-[115%] mt-3;
      }

      .hero-button {
        @apply md:mt-16 mt-10 text-white bg-black uppercase font-bold text-lg rounded-full md:p-5 p-3 md:px-16 px-10 shadow;
      }
    }
  }

  .message-content {
    @apply bg-main-bg text-white min-h-dvh overflow-hidden flex justify-center items-center relative z-20;

    .msg-wrapper {
      @apply 2xl:text-[8.5rem] md:text-8xl text-5xl font-bold uppercase leading-[9vw] tracking-[-.35vw] flex flex-col justify-center items-center md:gap-24 gap-14;

      h1:first-of-type {
        @apply 2xl:max-w-4xl md:max-w-2xl max-w-xs text-center  text-[#ffffff10];
      }

      h1:last-of-type {
        @apply 2xl:max-w-7xl md:max-w-4xl max-w-xs text-center  text-[#ffffff10];
      }
    }

    p {
      @apply text-center font-paragraph;
    }

    h1,
    h2 {
      @apply leading-none;
    }

    .msg-text-scroll {
      @apply rotate-[-3deg] 2xl:translate-y-5 -translate-y-5 absolute z-10;
    }
  }

  .flavor-section {
    @apply min-h-dvh bg-main-bg;

    .flavor-text-scroll {
      @apply rotate-[-3deg] md:translate-y-5 border border-b-8 
         rounded-t-2xl rounded-bl-2xl absolute z-10;
    }

    .first-text-split h1 {
      @apply md:text-center text-white/40;
    }

    .second-text-split h1 {
      @apply md:text-center;
    }

    .slider-wrapper {
      @apply lg:h-dvh min-h-dvh md:min-h-fit w-full mt-0 md:mt-20 xl:mt-0;

      .flavors {
        @apply h-full w-full flex md:flex-row flex-col items-center 2xl:gap-72 lg:gap-52 md:gap-24 gap-7 flex-nowrap;

        .drinks {
          @apply absolute left-1/2 -translate-x-1/2 bottom-0 md:h-full h-80 border border-b-8 p-3 
         rounded-t-2xl rounded-bl-2xl shadow shadow-white overflow-hidden;
        }

        .elements {
          @apply absolute md:top-0 md:bottom-auto bottom-10 w-full;
        }

        h1 {
          @apply absolute md:bottom-10 md:left-10 bottom-5 left-5 text-white md:text-6xl text-3xl font-semibold uppercase tracking-tighter;
        }
      }
    }
  }

  .nutrition-section {
    @apply min-h-dvh 2xl:h-[120dvh] overflow-hidden relative;

    .big-img {
      @apply w-full absolute 2xl:h-full md:h-2/3 h-1/2 left-0 bottom-0 object-bottom 2xl:object-contain object-cover;
    }

    .nutrition-title {
      @apply 2xl:max-w-4xl xl:max-w-2xl md:py-0 py-3 md:pb-5 pb-0 lg:pb-0 md:text-center text-white;
    }

    .nutrition-text-scroll {
      @apply rotate-[-3deg] border border-b-8 p-3 
         rounded-t-2xl rounded-bl-2xl bg-white/10 text-nowrap opacity-0 md:-mt-32 -mt-24;
    }

    .nutrition-box {
      @apply absolute md:bottom-16 bottom-5 w-full md:px-0 px-5;

      .list-wrapper {
        @apply bg-white/10 rounded-full border-[.5vw] border-white mx-auto max-w-7xl md:py-8 py-5 md:px-0 px-5 flex justify-between items-center;

        p {
          @apply text-white;
        }
      }

      .spacer-border {
        @apply absolute right-0 top-1/2 transform -translate-y-1/2 md:h-24 h-16 w-px bg-mid-brown;
      }
    }
  }

  .benefit-section {
    @apply min-h-dvh bg-main-bg overflow-hidden relative;

    p {
      @apply text-white font-paragraph text-center text-lg;
    }

    .first-title {
      @apply rotate-[3deg] relative z-10;
    }

    .second-title {
      @apply rotate-[-1deg] md:-translate-y-5;
    }

    .third-title {
      @apply rotate-[1deg] md:-translate-y-12 relative z-10;
    }

    .fourth-title {
      @apply rotate-[-5deg] md:-translate-y-12;
    }

    .vd-pin-section {
      @apply md:h-[110vh] h-dvh overflow-hidden md:!-translate-y-[15%] md:mt-0 mt-20;

      video {
        @apply size-full absolute inset-0 object-cover;
      }

      .play-btn {
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 size-[9vw] flex justify-center items-center bg-[#ffffff1a] backdrop-blur-xl rounded-full;
      }

      img:first-of-type {
        @apply size-[15vw];
      }
    }
  }

  .testimonials-section {
    @apply bg-main-bg relative w-full h-[120dvh];

    .pin-box {
      @apply flex items-center justify-center w-full ps-52 absolute 2xl:bottom-32 bottom-[50vh];

      .vd-card {
        @apply md:w-96 w-80 flex-none md:rounded-[2vw] rounded-3xl -ms-44 overflow-hidden 2xl:relative absolute border-[.5vw] border-white;
      }
    }

    h1 {
      @apply uppercase text-[18.5vw] leading-[105%] tracking-[-.4vw] ml-[2vw] font-bold;
    }
  }

  .footer-section {
    @apply 2xl:min-h-dvh overflow-hidden relative bg-main-bg;

    .social-btn {
      @apply border border-[#faeade33] md:size-[5vw] size-14 md:p-0 p-3 flex justify-center items-center rounded-full hover:bg-[#ffffff1a] transition-colors cursor-pointer;
    }

    input {
      @apply 2xl:text-4xl text-3xl placeholder:font-bold placeholder:tracking-tighter;
    }

    .copyright-box {
      @apply 2xl:absolute w-full md:px-10 px-5 py-7 bottom-0 text-white opacity-50 md:text-lg font-paragraph flex gap-7 md:flex-row flex-col-reverse md:justify-between justify-center items-center;

      p {
        @apply text-center;
      }
    }
  }
}

.nutrition-section {
  background-color: var(--color-main-bg);
  /* background-image: radial-gradient(circle, #f3ece2, #dcccb0); */
}

.spin-circle {
  animation: spin 20s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
